html {
	padding-left: 5px;
	/* background-color: #FFD59D; */
}

.home {
	width: 750px;
}

input {
	flex-grow: 1;
	height: r0px;
	font-size: 14pt;
}

label {
	/* height: 20px; */
	/* font-size: 14pt; */
	width: 90px;
}

select {
	flex-grow: 1;
	height: 28px;
	font-size: 14pt;
}

.mystatus {
	display: flex;
	flex-direction: column;
}

.mystatus-location {
	display: flex;
	margin: 0px 0px;
}

.mystatus-note {
}

.mystatus-availability {
	/* flex-grow: 1; */
}

.mystatus-handle {
	/* float:right; */
	padding: 5px;
	/* margin: 5px 0px; */
	margin-bottom: 5px;
	margin-left: 90px;
	/* background-color: green; */
	/* color: white; */

  background-color: #1560BD;
  color: white;
	border: none;
  text-decoration: none;
  display: inline-block;
  text-align: center;
	font-size: 1em;
	font-family: verdana;
}

.mystatus-handle:hover, .mystatus-handle:active {
  background-color: #0197f6;
}

.paldata {
}

.pal {
	border-bottom: 1px solid black;
	display: flex;
	flex-wrap: nowrap;
}

.pal-ship {
	/* display:inline-block; */
	flex: 1 1 0px;
	margin-right: 20px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.pal-location {
	/* display:inline-block; */
	flex-grow: 1;
	flex: 1 1 0px;
	margin-right: 20px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.pal-note {
	/* display:inline-block; */
	flex-grow: 1;
	flex: 1 1 0px;
	margin-right: 20px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.pal-note:hover, .pal-location:hover, .pal-ship:hover {
	overflow: visible;
	white-space: normal;
	width: auto;
	/* position: absolute; */
	background-color: #fff;
	word-break: break-all;
}

.pal-availability {
	/* display:inline-block; */
	flex: 1 1 0px;
	flex-grow: 1;
	margin-right: 20px;
}
